{% extends 'base.html' %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="well">
          <div class="b-example-divider bg-light  border-secondary mt-5" style="display: flex; justify-content: center; align-items: center; height: 5.4rem;border-radius: 10px; box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);">
            <fieldset class="fsStyle">
              <legend class="legendStyle">
                  <a data-toggle="collapse" data-target="#demo" href="#" >Ajouter un lettre            
                       </a>
              </legend>
             
            </fieldset>  
          </div>             
        </div>
    </div>
</div>
 

   
<!--   
            <div class="alert alert-danger mt-3" role="alert">

            </div> -->
            {% for message in messages %}
            <strong><i style="color: green;">{{ message }}</i></strong>
            {% endfor %} 
          <div class="d-none text-center alert alert-danger mt-3 col-md-6" role="alert" id="alert" >
             Tous les champs sont obligatoires
          </div>
        <form  method="post" enctype="multipart/form-data" class="mt-5">
          {% csrf_token %}
            <div class="form-colmn">
              <div class="form-group row mb-4">
                <label for="title" class="col-md-2 col-form-label">Title :</label>
                <div class="col-md-6">
                  <input type="text" id="title" name="title" class="form-control" required>
                </div>
              </div>
              <div class="form-group row mb-4">
                <label for="file" class="col-md-2 col-form-label">File :</label>
                <div class="col-md-6">
                  <input type="file" id="file" name="file" class="form-control" required>
                </div>
              </div>
              <div class="form-group row mb-4">
                <label for="description" class="col-md-2 col-form-label">Description :</label>
                <div class="col-md-6 mb-6">
                  <textarea name="description" class="form-control"> </textarea>
                </div>
              </div>
              <div class="form-group row mb-4">
                <label for="description" class="col-md-2 col-form-label">Accées :</label>
                <div class="col-md-6">
                  <select name="users_with_access" class="form-control" multiple >
                    <option selected disabled> Accées </option>
                    {% for user in users_with_access %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group mt-5 ms-5">
                <button type="submit" class="btn btn-primary ms-5">Enregistrer</button>
                <a href="{% url 'file_list' %}" class="btn btn-outline-secondary ms-3 ">Annuler</a>
              </div>
            </div>
          </form>
    </div>
 
 <!-- Inclure le lien vers le fichier JavaScript de Bootstrap -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>

{% endblock %}



